/* line 5, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/screen.scss */
body {
  box-sizing: border-box;
}
/* line 5, ../sass/screen.scss */
body .popover {
  left: 15% !important;
  width: 70% !important;
  margin: 5% auto 0 !important;
  transform: none !important;
  background: rgba(240, 242, 241, 0.95);
  box-shadow: 1px 1px 7px;
  border-radius: 0.7em;
  padding: 0.5em;
}
@media screen and (min-width: 1500px) {
  /* line 5, ../sass/screen.scss */
  body .popover {
    left: 21% !important;
    width: 58% !important;
  }
}
/* line 18, ../sass/screen.scss */
body .popover h2, body .popover h3, body .popover .popover-content {
  text-align: center;
  margin-bottom: 0.4em;
  font-weight: bold;
}
/* line 23, ../sass/screen.scss */
body .popover .date, body .popover .location {
  text-align: center;
  margin-bottom: 0.4em;
  font-style: italic;
}
/* line 28, ../sass/screen.scss */
body .popover .trainers {
  text-align: center;
  margin-bottom: 0.5em;
}
/* line 31, ../sass/screen.scss */
body .popover .trainers .trainer {
  display: inline-block;
  width: 7em;
  margin-right: 1.5em;
}
/* line 35, ../sass/screen.scss */
body .popover .trainers .trainer img {
  width: 7em;
  height: 7em;
}
/* line 39, ../sass/screen.scss */
body .popover .trainers .trainer span {
  font-size: 0.7rem;
}
/* line 44, ../sass/screen.scss */
body .popover .resources {
  text-align: center;
}
/* line 46, ../sass/screen.scss */
body .popover .resources .resource {
  display: inline-block;
  position: relative;
  margin-right: 1em;
}
/* line 51, ../sass/screen.scss */
body .popover .resources .resource:hover .link {
  display: block;
  position: absolute;
  left: -7rem;
  width: 18em;
  text-decoration: none;
  background: #f0f2f1;
  box-shadow: 1px 1px 7px;
  border-radius: 0.5em;
  padding: 0.2em;
  color: inherit;
}
/* line 62, ../sass/screen.scss */
body .popover .resources .resource:hover .link:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* line 69, ../sass/screen.scss */
body .popover .resources .resource h4:hover {
  color: #984217;
  cursor: pointer;
}
/* line 74, ../sass/screen.scss */
body .popover .resources .resource .link {
  display: none;
}
/* line 81, ../sass/screen.scss */
body div .loading {
  font-size: 4em;
  text-align: center;
  margin-top: 10rem;
}
/* line 86, ../sass/screen.scss */
body div .app {
  max-width: 1200px;
  margin: 0 auto;
}
/* line 91, ../sass/screen.scss */
body div .app .month .row-month-header .column-month-header {
  display: inline-block;
  width: 14%;
  border: 1px solid #DDD;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 90%;
  height: 1em;
}
@media screen and (max-width: 700px) {
  /* line 91, ../sass/screen.scss */
  body div .app .month .row-month-header .column-month-header {
    width: 13%;
  }
}
/* line 106, ../sass/screen.scss */
body div .app .month .row-month .column-month {
  display: inline-block;
  overflow: hidden;
  width: 14%;
  height: 5em;
  border: 1px solid #DDDDDD;
  vertical-align: middle;
}
@media screen and (max-width: 700px) {
  /* line 106, ../sass/screen.scss */
  body div .app .month .row-month .column-month {
    width: 13%;
  }
}
/* line 116, ../sass/screen.scss */
body div .app .month .row-month .column-month .not-current-month {
  color: #d3d3d3;
}
/* line 119, ../sass/screen.scss */
body div .app .month .row-month .column-month .day {
  position: relative;
  top: 5px;
  left: 5px;
}
/* line 124, ../sass/screen.scss */
body div .app .month .row-month .column-month .event, body div .app .month .row-month .column-month .deadline, body div .app .month .row-month .column-month .webinar, body div .app .month .row-month .column-month .lecture, body div .app .month .row-month .column-month .workshop {
  height: 1.2em;
  margin-top: 0.2rem;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 0.3em;
  padding-top: 0.1em;
  cursor: pointer;
}
@media screen and (max-width: 1060px) {
  /* line 124, ../sass/screen.scss */
  body div .app .month .row-month .column-month .event, body div .app .month .row-month .column-month .deadline, body div .app .month .row-month .column-month .webinar, body div .app .month .row-month .column-month .lecture, body div .app .month .row-month .column-month .workshop {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 820px) {
  /* line 124, ../sass/screen.scss */
  body div .app .month .row-month .column-month .event, body div .app .month .row-month .column-month .deadline, body div .app .month .row-month .column-month .webinar, body div .app .month .row-month .column-month .lecture, body div .app .month .row-month .column-month .workshop {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 700px) {
  /* line 124, ../sass/screen.scss */
  body div .app .month .row-month .column-month .event, body div .app .month .row-month .column-month .deadline, body div .app .month .row-month .column-month .webinar, body div .app .month .row-month .column-month .lecture, body div .app .month .row-month .column-month .workshop {
    font-size: 0.4rem;
  }
}
@media screen and (max-width: 540px) {
  /* line 124, ../sass/screen.scss */
  body div .app .month .row-month .column-month .event, body div .app .month .row-month .column-month .deadline, body div .app .month .row-month .column-month .webinar, body div .app .month .row-month .column-month .lecture, body div .app .month .row-month .column-month .workshop {
    font-size: 0.3rem;
  }
}
@media screen and (max-width: 400px) {
  /* line 124, ../sass/screen.scss */
  body div .app .month .row-month .column-month .event, body div .app .month .row-month .column-month .deadline, body div .app .month .row-month .column-month .webinar, body div .app .month .row-month .column-month .lecture, body div .app .month .row-month .column-month .workshop {
    font-size: 0.2rem;
  }
}
/* line 148, ../sass/screen.scss */
body div .app .month .row-month .column-month .event {
  background: #1ef11e;
}
/* line 151, ../sass/screen.scss */
body div .app .month .row-month .column-month .deadline {
  background: #5454e2;
  color: #ffffff;
}
/* line 155, ../sass/screen.scss */
body div .app .month .row-month .column-month .webinar {
  background: #e8e849;
}
/* line 158, ../sass/screen.scss */
body div .app .month .row-month .column-month .lecture {
  background: rgba(36, 222, 222, 0.65);
}
/* line 161, ../sass/screen.scss */
body div .app .month .row-month .column-month .workshop {
  background: #e69750;
  color: #ffffff;
}
/* line 166, ../sass/screen.scss */
body div .app .month .row-month .today {
  background-color: rgba(230, 202, 202, 0.71);
}
/* line 173, ../sass/screen.scss */
body div .app .week .row-week-header .column-week-header {
  display: inline-block;
  width: 12.125%;
  border: 1px solid #DDD;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 90%;
  height: 20px;
}
@media screen and (max-width: 1195px) {
  /* line 173, ../sass/screen.scss */
  body div .app .week .row-week-header .column-week-header {
    width: 12.12%;
  }
}
@media screen and (max-width: 1180px) {
  /* line 173, ../sass/screen.scss */
  body div .app .week .row-week-header .column-week-header {
    width: 12.1%;
  }
}
@media screen and (max-width: 1120px) {
  /* line 173, ../sass/screen.scss */
  body div .app .week .row-week-header .column-week-header {
    width: 12%;
  }
}
@media screen and (max-width: 900px) {
  /* line 173, ../sass/screen.scss */
  body div .app .week .row-week-header .column-week-header {
    width: 11.9%;
  }
}
@media screen and (max-width: 750px) {
  /* line 173, ../sass/screen.scss */
  body div .app .week .row-week-header .column-week-header {
    width: 11.8%;
  }
}
@media screen and (max-width: 640px) {
  /* line 173, ../sass/screen.scss */
  body div .app .week .row-week-header .column-week-header {
    width: 11.7%;
  }
}
@media screen and (max-width: 562px) {
  /* line 173, ../sass/screen.scss */
  body div .app .week .row-week-header .column-week-header {
    width: 11.65%;
  }
}
@media screen and (max-width: 530px) {
  /* line 173, ../sass/screen.scss */
  body div .app .week .row-week-header .column-week-header {
    width: 11.6%;
  }
}
@media screen and (max-width: 500px) {
  /* line 173, ../sass/screen.scss */
  body div .app .week .row-week-header .column-week-header {
    width: 11.5%;
  }
}
@media screen and (max-width: 450px) {
  /* line 173, ../sass/screen.scss */
  body div .app .week .row-week-header .column-week-header {
    width: 11.4%;
  }
}
@media screen and (max-width: 410px) {
  /* line 173, ../sass/screen.scss */
  body div .app .week .row-week-header .column-week-header {
    width: 11.3%;
  }
}
@media screen and (max-width: 375px) {
  /* line 173, ../sass/screen.scss */
  body div .app .week .row-week-header .column-week-header {
    width: 11.2%;
  }
}
/* line 218, ../sass/screen.scss */
body div .app .week .row-week-header .column-week-header span {
  font-size: 0.9em;
}
@media screen and (max-width: 630px) {
  /* line 218, ../sass/screen.scss */
  body div .app .week .row-week-header .column-week-header span {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 460px) {
  /* line 218, ../sass/screen.scss */
  body div .app .week .row-week-header .column-week-header span {
    font-size: 0.4rem;
  }
}
/* line 228, ../sass/screen.scss */
body div .app .week .row-week-header .column-week-scroll {
  display: inline-block;
  width: 18px;
  border: 1px solid #DDD;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  font-size: 90%;
  height: 20px;
}
/* line 239, ../sass/screen.scss */
body div .app .week .week-overflow {
  overflow: scroll;
  height: 28em;
}
/* line 243, ../sass/screen.scss */
body div .app .week .week-overflow .row-week .column-week {
  display: inline-block;
  overflow: hidden;
  width: 12.3%;
  height: 2em;
  border: 1px solid #DDDDDD;
  vertical-align: middle;
}
@media screen and (max-width: 1010px) {
  /* line 243, ../sass/screen.scss */
  body div .app .week .week-overflow .row-week .column-week {
    width: 12.2%;
  }
}
@media screen and (max-width: 680px) {
  /* line 243, ../sass/screen.scss */
  body div .app .week .week-overflow .row-week .column-week {
    width: 12.1%;
  }
}
@media screen and (max-width: 515px) {
  /* line 243, ../sass/screen.scss */
  body div .app .week .week-overflow .row-week .column-week {
    width: 12%;
  }
}
@media screen and (max-width: 415px) {
  /* line 243, ../sass/screen.scss */
  body div .app .week .week-overflow .row-week .column-week {
    width: 11.9%;
  }
}
/* line 262, ../sass/screen.scss */
body div .app .week .week-overflow .row-week .column-week span {
  color: #99998f;
  font-size: 1em;
}
@media screen and (max-width: 720px) {
  /* line 262, ../sass/screen.scss */
  body div .app .week .week-overflow .row-week .column-week span {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 500px) {
  /* line 262, ../sass/screen.scss */
  body div .app .week .week-overflow .row-week .column-week span {
    font-size: 0.5rem;
  }
}
/* line 272, ../sass/screen.scss */
body div .app .week .week-overflow .row-week .column-week .event, body div .app .week .week-overflow .row-week .column-week .deadline, body div .app .week .week-overflow .row-week .column-week .webinar, body div .app .week .week-overflow .row-week .column-week .lecture, body div .app .week .week-overflow .row-week .column-week .workshop {
  display: inline-block;
  width: 45%;
  height: 100%;
  margin-left: 0.3rem;
  font-size: 0.7rem;
  border-radius: 0.3em;
  padding-top: 0.3em;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (max-width: 1060px) {
  /* line 272, ../sass/screen.scss */
  body div .app .week .week-overflow .row-week .column-week .event, body div .app .week .week-overflow .row-week .column-week .deadline, body div .app .week .week-overflow .row-week .column-week .webinar, body div .app .week .week-overflow .row-week .column-week .lecture, body div .app .week .week-overflow .row-week .column-week .workshop {
    font-size: 0.6rem;
  }
}
@media screen and (max-width: 820px) {
  /* line 272, ../sass/screen.scss */
  body div .app .week .week-overflow .row-week .column-week .event, body div .app .week .week-overflow .row-week .column-week .deadline, body div .app .week .week-overflow .row-week .column-week .webinar, body div .app .week .week-overflow .row-week .column-week .lecture, body div .app .week .week-overflow .row-week .column-week .workshop {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 700px) {
  /* line 272, ../sass/screen.scss */
  body div .app .week .week-overflow .row-week .column-week .event, body div .app .week .week-overflow .row-week .column-week .deadline, body div .app .week .week-overflow .row-week .column-week .webinar, body div .app .week .week-overflow .row-week .column-week .lecture, body div .app .week .week-overflow .row-week .column-week .workshop {
    font-size: 0.4rem;
  }
}
@media screen and (max-width: 540px) {
  /* line 272, ../sass/screen.scss */
  body div .app .week .week-overflow .row-week .column-week .event, body div .app .week .week-overflow .row-week .column-week .deadline, body div .app .week .week-overflow .row-week .column-week .webinar, body div .app .week .week-overflow .row-week .column-week .lecture, body div .app .week .week-overflow .row-week .column-week .workshop {
    font-size: 0.3rem;
  }
}
@media screen and (max-width: 400px) {
  /* line 272, ../sass/screen.scss */
  body div .app .week .week-overflow .row-week .column-week .event, body div .app .week .week-overflow .row-week .column-week .deadline, body div .app .week .week-overflow .row-week .column-week .webinar, body div .app .week .week-overflow .row-week .column-week .lecture, body div .app .week .week-overflow .row-week .column-week .workshop {
    font-size: 0.2rem;
  }
}
/* line 299, ../sass/screen.scss */
body div .app .week .week-overflow .row-week .column-week .event {
  background: #1ef11e;
}
/* line 302, ../sass/screen.scss */
body div .app .week .week-overflow .row-week .column-week .deadline {
  background: #5454e2;
  color: #ffffff;
}
/* line 306, ../sass/screen.scss */
body div .app .week .week-overflow .row-week .column-week .webinar {
  background: #e8e849;
}
/* line 309, ../sass/screen.scss */
body div .app .week .week-overflow .row-week .column-week .lecture {
  background: rgba(36, 222, 222, 0.65);
}
/* line 312, ../sass/screen.scss */
body div .app .week .week-overflow .row-week .column-week .workshop {
  background: #e69750;
  color: #ffffff;
}
/* line 317, ../sass/screen.scss */
body div .app .week .week-overflow .row-week .today {
  background: rgba(248, 232, 232, 0.71);
}
/* line 323, ../sass/screen.scss */
body div .app .toolbar {
  margin: 2em 0 3em 0;
  font-size: 1em;
}
/* line 327, ../sass/screen.scss */
body div .app .toolbar div button {
  color: #373a3c;
  display: inline-block;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  background: none;
  border: 1px solid #ccc;
  padding: .375rem 1rem;
  border-radius: 0.25em;
  line-height: normal;
  white-space: nowrap;
  outline: none;
}
/* line 342, ../sass/screen.scss */
body div .app .toolbar .toolbar-left {
  float: left;
}
@media screen and (max-width: 500px) {
  /* line 342, ../sass/screen.scss */
  body div .app .toolbar .toolbar-left {
    float: none;
  }
}
/* line 347, ../sass/screen.scss */
body div .app .toolbar .toolbar-left button {
  cursor: pointer;
}
/* line 351, ../sass/screen.scss */
body div .app .toolbar .toolbar-right {
  float: right;
}
@media screen and (max-width: 500px) {
  /* line 351, ../sass/screen.scss */
  body div .app .toolbar .toolbar-right {
    float: none;
  }
}
/* line 356, ../sass/screen.scss */
body div .app .toolbar .toolbar-right button {
  cursor: pointer;
}
/* line 360, ../sass/screen.scss */
body div .app .toolbar .toolbar-label {
  margin-left: 30%;
  margin-top: 3em;
  font-size: 1em;
}
@media screen and (max-width: 720px) {
  /* line 360, ../sass/screen.scss */
  body div .app .toolbar .toolbar-label {
    margin-left: 10%;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 545px) {
  /* line 360, ../sass/screen.scss */
  body div .app .toolbar .toolbar-label {
    margin-left: 0.1rem;
    font-size: 0.8em;
  }
}
